.aside {
  background-color: #666;
  padding-left:30px;
}

.aside-list {
 list-style-type: none;
}
.bottom-key-line{
	border-bottom:1px solid #797979;
	line-height:30px;
}
  
.contact{
	background-color: #CCCCCC;
	padding:20px;	
}

.header{		
	height:150px;
}

.padding-left {
	padding-left: 0.9375rem;
}

.skill-label {
    
	text-align: center;	
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
	padding: 0.25rem 0.5rem 0.375rem;	
	background-color: #008cba;
	color: white;
}


// style for magellan sticky navigation
// ********************************************
.magellan-nav-bar{
	
	-webkit-box-shadow: 0px 1px 20px -5px #A8A8A8;
	-moz-box-shadow: 0px 1px 20px -5px #A8A8A8;
	box-shadow: 0px 1px 20px -5px #A8A8A8;
	display:none;

}

div[data-magellan-expedition-clone]{
	visibility:hidden;
}

dd{
	width:100%;
	text-align:center;
}

@media only screen and (min-width: 40.063em) {
	dd{
		width:auto;
		text-align:left;
	}
	
	.top-bar-displayed-only-in-mobile{
		display:none;
	}
	
	.magellan-nav-bar{
		display:block
	}
}



// Style used to align font icons
//  ************************************
.font-icon-container{
	position:relative;
}
.font-icon-text{
	@extend .font-icon-container;
	top:-5px;
}

// Style used for skills
//  ************************************
.fi-star{
	display:none;
}

.display-block{
	display:block;
}

.skill-name {
	height: 30px;
	margin-bottom: 18px !important;
	margin-right: 5px;
}