
	<div class="row">		
		<div class="small-12 columns"><h1 class="blue-font">Education</h1></div>	
		<a name="education"></a>		
		<div data-magellan-destination="education"></div>
	</div>
	<br/>
	
	<div class="row ">
		<employer name="Victoria University of Wellington" period="New Zealand, 2009 - 2013"></employer>
		
		<div class="small-12 medium-10 columns">
			
			<accomplishment work-performed="I did a 4 years course in Victoria University, and obtained a Master degree in Information Management.
							In that 4 years, I received training on leadership, communication, and critical thinking skills that could be used 
							in a workplace">			
			</accomplishment>
										
			
		</div>
	</div>
	<br/>
	<div class="row">
		<employer name="National University of Singapore" period="Singapore, July 2000 - July 2013"></employer>
		
		<div class="small-12 medium-10 columns">
			
			<accomplishment work-performed="I did a 3 year course, and obtained a Bachelor degreee in Information Technology.
					In that 3 years, I learned concepts on programming, algorithm, database, and e-commerce.">				
			</accomplishment>
		
		
		</div>
	</div>	
	<br/>
	
