
	<div class="row">
		
		<div class="small-12 columns"><h1 class="blue-font" >Personal Projects</h1></div>
				
		<div class="small-12 columns">
			I am not an ordinary 9-5 developer. I stand for quality, and 
			constantly seek ways to improve my skills as a developer. To do that, I 
			have been developing a number of small software:
		</div>
		<a name="personal-projects"></a>
		<div data-magellan-destination="personal-projects"></div>
	</div>
	<br/>
	<div class="row">
		<div class="small-12 medium-2 columns bold large-font">
			TDD
		</div>
		
		<div class="small-12 medium-10 columns">
			I wrote a small application as a way to exercise test driven development. The purpose of
			this application is to record names and phone numbers and allow user to look for names and phone numbers. 
			<a href="https://code.google.com/p/tiny-addr-book/source/browse/#svn%2Ftrunk" class="bold" target="_blank">See the Code</a>
			<br/>
			
		</div>
	</div>
	<br/>
	<div class="row  ">
		<div class="small-12 medium-2 columns bold large-font">
			Spring
		</div>
		
		<div class="small-12 medium-10 columns">
			I built a website using Spring MVC, JSP, JQuery, Hibernate, and JPA. 
			<a href="https://code.google.com/p/portfolio-recipe/" target="_blank"  class="bold">See the Code</a>
			<br/>			
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="small-12 medium-2 columns bold large-font">
			Cruftbuster
		</div>
		
		<div class="small-12 medium-10 columns">
			Cruftbuster is a software that organizes files in a Linux-based operating system, 
			which delete unused files and categorize files automatically. 
			Cruftbuster is written in Python and tested in Ubuntu.  
			<a href="https://code.google.com/p/mirandafileorganizer/" target="_blank"  class="bold">See the Code</a>
			<br/>			
		</div>
	</div>
