

<div class="contain-to-grid sticky top-bar-displayed-only-in-mobile">
		
			<nav class="top-bar" data-topbar data-options="scrolltop: false">
			  <ul class="title-area">
				<li class="name">			 
				</li>
				 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			  </ul>
			  
			  <section class="top-bar-section">
				 <dl class="sub-nav">
					<dd><a href="#profile" class="content-font" ng-click="scrollTo('a[name=\'profile\']')">Profile</a></dd>
					<dd><a href="#personal-projects" class="content-font" ng-click="scrollTo('a[name=\'personal-projects\']')">Personal Projects</a></dd>
					<dd><a href="#education" class="content-font" ng-click="scrollTo('a[name=\'education\']')">Education</a></dd>
					<dd><a href="#career" class="content-font" ng-click="scrollTo('a[name=\'career\']')">Employment</a></dd>	
					<dd><a href="#/about">About</a></dd>						
				  </dl>
			  </section>
			</nav>
		
	</div>
	
	<div class="magellan-nav-bar" data-magellan-expedition="fixed">	 
		  <dl class="sub-nav">
			<dd data-magellan-arrival="profile"><a href="#profile" class="content-font">Profile</a></dd>
			<dd data-magellan-arrival="personal-projects"><a href="#personal-projects" class="content-font">Personal Projects</a></dd>
			<dd data-magellan-arrival="education"><a href="#education" class="content-font">Education</a></dd>
			<dd data-magellan-arrival="career"><a href="#career" class="content-font">Employment</a></dd>		
			<dd data-magellan-arrival="about"><a href="#/about" class="content-font">About</a></dd>
		  </dl>	 
	</div>

	
	
	<section ng-include src="'views/name.html'"></section> 
	<section ng-include src="'views/profile.html'"></section>  	
	<section ng-include src="'views/personal-projects.html'"></section>
	<section ng-include src="'views/education.html'"></section>
	<section ng-include src="'views/career.html'"></section>